<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
        <type name="DigitalCollege\Dev\Controller\Index\Index">
            <plugin name="Digital_Controller" type="DigitalCollege\Dev\Plugin\DevPlugin" disabled="false"/>
        </type>
        <preference for="DigitalCollege\Dev\Api\PostManagementInterface" type="DigitalCollege\Dev\Model\PostManagement"/>
</config>
